<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <h1>Thêm sản phẩm</h1>
      <form action="" #create="ngForm" (ngSubmit)="onCreate(create.value)">
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="floatingInputDisabled"
            name="name"
            ngModel
            required
            minlength="3"
            #nameInput="ngModel"
          />

          <label for="floatingInputDisabled">Tên sản phẩm</label>
          <div
            *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)"
            class="text-danger"
          >
            <div *ngIf="nameInput.errors?.['required']">
              Tên sản phẩm không được bỏ trống.
            </div>
            <div *ngIf="nameInput.errors?.['minlength']">
              Tên sản phẩm phải dài ít nhất 3 ký tự.
            </div>
          </div>
        </div>

        <div class="form-floating mb-3">
          <input
            type="number"
            class="form-control"
            id="priceInput"
            name="price"
            ngModel
            required
            #priceInput="ngModel"
          />
          <label for="priceInput">Giá sản phẩm</label>
          <div
            *ngIf="
              priceInput.invalid && (priceInput.dirty || priceInput.touched)
            "
            class="text-danger"
          >
            <div *ngIf="priceInput.errors?.['required']">
              Giá sản phẩm không được bỏ trống.
            </div>
          </div>
        </div>

        <div class="form-floating mb-3">
          <textarea
            class="form-control"
            placeholder="Leave a comment here"
            id="desInput"
            name="des"
            ngModel
            required
            #desInput="ngModel"
          ></textarea>
          <label for="desInput">Mô tả</label>
          <div
            *ngIf="desInput.invalid && (desInput.dirty || desInput.touched)"
            class="text-danger"
          >
            <div *ngIf="desInput.errors?.['required']">
              Mô tả không được bỏ trống.
            </div>
            <!-- Add additional validation messages if needed -->
          </div>
        </div>

        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="imageInput"
            name="image"
            ngModel
            required
            #imageInput="ngModel"
          />
          <label for="imageInput">Ảnh sản phẩm</label>
          <div
            *ngIf="
              imageInput.invalid && (imageInput.dirty || imageInput.touched)
            "
            class="text-danger"
          >
            <div *ngIf="imageInput.errors?.['required']">
              Ảnh sản phẩm không được bỏ trống.
            </div>
            <!-- Add additional validation messages if needed -->
          </div>
        </div>

        <div class="d-grid gap-2">
          <input
            type="submit"
            class="btn btn-outline-secondary"
            value="Thêm sản phẩm"
          />
        </div>
      </form>
    </main>
  </body>
</html>
